extends layout

block content
  .mdl-layout.mdl-js-layout

    include header

    main.mdl-layout__content
      .page-content
        each val, idx in movies
          .demo-card-square.mdl-card.mdl-shadow--2dp
            .mdl-card__title.mdl-card--expand(style='background: url(#{val.cover})')
              h2.mdl-card__title-text #{val.name}
            .mdl-card__supporting-text #{val.desc}
            .mdl-card__actions.mdl-card--border
              each v, i in [1, 2, 3, 4, 5]
                button.mdl-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored(data-rate='#{v}', data-item='#{val._id}', data-js='vote-button')
                  i.material-icons #{v}
              .progress-bar
                .progress-bar__completed(style='width: #{val.average}%')